@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Playfair+Display:wght@500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Pontano+Sans");
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  min-height: 100vh; /* 100% of the viewport height */
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

/* nav bar */

nav {
  display: flex;
  align-items: center;
  background: #f7f4ea;

  padding-left: 7.813vw; /* Add padding to the left */
  border-bottom: 0.5px solid rgb(128, 128, 128);
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

nav a {
  display: inline-block;
  padding: 0.1vw 1vw;
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
  text-decoration: none;
  font-weight: 750;
}

nav a:hover {
  color: #604ce4;
}

.nav-icons {
  display: inline-block;
}

.nav-icons:hover {
  color: #604ce4;
}

.nav-icons a {
  margin-left: 0.5vw; /* Spacing between icons */
}

.nav-icons i {
  font-size: 30px; /* Example size, adjust as needed */
}

nav img {
  margin-right: 2vw; /* Add some space after the logo, if needed */
  vertical-align: middle;
  width: auto;
  height: 5vw;
}
/* search form  */
.search-form {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-left: auto;
  background: #f5f5f5;
  border: 1px solid #ccc;
}

.search-form input[type="text"] {
  flex-grow: 1; /* Allows input to take available space */
  font-size: 1rem;
  border: none; /* Removes border */
  background-color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
}

.search-form button {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border: none; /* Removes border */
  cursor: pointer;
  background-color: #f5f5f5;
}

/* Adjust icon size and color inside the button */
.search-form button i {
  font-size: 1.5rem;
  color: #000000;
}

.search-form input[type="text"]:focus {
  outline: none;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  background-color: rgb(0, 0, 0);
  color: white;
  flex-shrink: 0;
  margin-top: auto;
}

.footer-social,
.footer-info,
.footer-contact {
  display: flex;
  align-items: center;
}

.social-icon {
  margin-right: 2vw; /* Space between icons */
  color: white;
  text-decoration: none;
}

.social-icon:last-child {
  margin-right: 0; /* No margin for the last icon */
}

.social-icon i {
  font-size: 1.5rem; /* Size of the icons */
}

.footer-contact a {
  color: white;
  text-decoration: underline;
  padding-right: 1vw;
}

.sales {
  background-color: #604ce4;
  color: white;
  text-align: center;

  /* Fix the position of the navbar */
  top: 0;
  /* Align the top edge of the navbar with the top of the viewport */
  left: 0;
  /* Align the left edge of the navbar with the left of the viewport */
  width: 100%;
  /* Ensure the navbar extends the full width of the viewport */
}

.sales p {
  margin: 0;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 1.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
/* index.html */

* {
  box-sizing: border-box;
}
.mySlides {
  display: none;
  width: 100%;

  transition: transform 0.5s ease-in-out;
}
/* Slideshow container */
.slideshow-container {
  padding-top: 2vw;
  max-width: 80vw;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.slideshow-container img {
  height: 34vw;
  object-fit: cover;
  width: 100%;
  filter: brightness(50%);
}

/* Caption text */
.slideshow-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Choose a text color that stands out */
  font-size: 1.25rem; /* Adjust font size as needed */
  text-align: center;
  z-index: 10; /* Ensure text is above the images */
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.info {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.top-images {
  text-align: left;
  padding-top: 5.25vw;
}

.top-images img {
  width: 40vw;
  /* Set the width of the image */
  height: 45vw;
  /* Set the height of the image */
  object-fit: cover;
  /* Zooms in on the image and covers the area */
  object-position: center;
  /* Focuses on the center of the image */
  display: block;
}

.top-images p,
.top-images a .top-images h2 {
  font-size: 1rem;
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
  font-family: "DM Sans", sans-serif;
}

.top-container {
  display: flex;
  justify-content: center;
  /* Center the items horizontally */
  flex-wrap: wrap;
  /* Allow items to wrap to next line on smaller screens */
}

.button {
  background-color: #604ce4;
  border: none;
  color: white;
  padding: 1vw 2vw;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin: 4px 2px;
}

.button:hover {
  filter: brightness(90%);
  /* Changes to grey when hovered */
}

#middletext {
  text-align: center;
  padding: 50px;
  font-family: "DM Sans", sans-serif;
  line-height: 6.5vh;
}

#middletext h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  /* Reduce the bottom margin */
  letter-spacing: -1.6px;
}

#middletext h2 {
  margin-top: 0;
  /* Remove top margin */
}

#middletext p {
  margin-top: 0;
  /* Remove top margin */
}

.bottom-images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-bottom: 70px;
}

.bottom-images {
  position: relative;
  margin: 10px;
}

.bottom-images img {
  width: 25vw;
  /* Make image responsive within its container */
  height: 35vw;
  /* Keep aspect ratio */
  display: block;
  object-fit: cover;
}

.bottom-image-text {
  /* Removed position:absolute and related properties */
  color: rgb(0, 0, 0);
  /* Text color */
  font-size: 13px;
  /* Text size */
  padding: 5px 10px;
  /* Padding around text */
  font-family: "Inter", sans-serif;
  display: block;
  /* Ensures the text is on a new line below the image */
  text-align: center;
}

.bottom-images a:hover {
  filter: brightness(90%);
}
/* shopping.html */

.shopping-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 0vw; /* Adjust based on sidebar width */
  background-color: yellow;
  justify-content: flex-start;
}

.item-box {
  display: flex;
  flex-direction: column;
  background-color: blue;
  margin: 0.65vw;
  text-align: left;
  flex-basis: 25vw;
  overflow: hidden; /* Hide the overflow */
}

.item-box img {
  width: 25vw;
  height: 25vw;
  display: block;
}

.item-box h1,
.item-box h2,
.item-box h3,
.item-box p {
  font-size: 1rem;
  margin: 0;
}

.main-layout {
  display: flex;
}

.filter-group input[type="checkbox"] {
  appearance: none;
  /* This disables the default styling of radio buttons */
  -webkit-appearance: none;
  /* For Safari and older Chrome browsers */
  -moz-appearance: none;
  /* For Firefox */
  display: none;
  /* Hides the input */
}

/* Custom radio button style */
.filter-group label {
  position: relative;
  padding-left: 35px;
  /* increase gap between checkbox and word */
  cursor: pointer;
}

.filter-group label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  background-color: white;
}

input[type="checkbox"]:checked + label:before {
  background-color: #604ce4;
}

.filter-group h4 {
  /* to adjust the gap between the h4 and the buttons */
  margin-bottom: -5px;
}

.filter-group ul {
  list-style: none;
  padding: 0;
}

#filter-toggle {
  display: none; /* Hide toggle button by default */
  position: absolute; /* Position the button absolutely within the wrapper */
  top: 10px; /* Adjust as needed for spacing from the top */
  right: 10px; /* Adjust as needed for spacing from the right */
}

.filter-toggle-wrapper {
  display: none; /* Hide wrapper by default */
  padding: 20px; /* Add padding for spacing, adjust as needed */
  background-color: #604ce4;
  position: relative; /* Add this to position the button absolutely within it */
  z-index: 101;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  display: none;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-width: 960px) {
  .search-form button {
    padding: 0;
    margin-right: 5px;
  }

  .top-images img {
    width: 80vw;
    height: auto;
  }
  .overlay {
    display: block; /* Show overlay on small screens */
  }
  .item-box {
    flex-basis: 48.5%; /* 2 images per row for smaller screens */
  }
  .item-box img {
    width: 100%; /* Make the image fill the container */
    height: 47.8vw; /* Maintain aspect ratio */
  }

  .sidebar {
    display: block;
  }
  .filter-toggle-wrapper {
    display: block; /* Show wrapper on small screens */
  }
  #filter-toggle {
    display: block; /* Show button on small screens */
    z-index: 20; /* Ensure it's above other elements */
    position: relative;
  }

  .content-container {
    display: flex;
    flex-direction: column;
  }
}
