@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&family=Poppins:wght@300;400&family=Roboto:wght@300;500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  background-color: #f7f4ea;
}

nav {
  display: flex;
  align-items: center;
  background: #f7f4ea;
  padding: 0px;
  padding-left: 150px; /* Add padding to the left */
  border-bottom: 0.5px solid rgb(128, 128, 128);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-decoration: none;
  font-weight: 750;
}

nav a:hover {
  color: #89ade2;
}

.nav-icons {
  margin-left: auto; /* Push the icons to the right */
  display: inline-block;
}

.nav-icons:hover {
  color: #89ade2;
}

.nav-icons a {
  margin-left: 10px; /* Spacing between icons */
}

.nav-icons i {
  font-size: 20px; /* Adjust icon size as needed */
}

nav img {
  height: 60px; /* Adjust as needed */
  margin-right: 10px; /* Add some space after the logo, if needed */
  vertical-align: middle;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: rgb(0, 0, 0);
  color: white;
  flex: 1; /* Each section takes equal space */
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  align-items: center;
}

.social-icon {
  margin-right: 20px; /* Space between icons */
  color: white;
  text-decoration: none;
}

.social-icon:last-child {
  margin-right: 0; /* No margin for the last icon */
}

.social-icon i {
  font-size: 25px; /* Size of the icons */
}

.footer-right a {
  color: white;
  text-decoration: underline;
  padding-right: 10px;
}

.sales {
  background-color: #80a1d4;
  color: white;
  text-align: center;

  /* Fix the position of the navbar */
  top: 0;
  /* Align the top edge of the navbar with the top of the viewport */
  left: 0;
  /* Align the left edge of the navbar with the left of the viewport */
  width: 100%;
  /* Ensure the navbar extends the full width of the viewport */
}

.sales p {
  margin: 0;
}
